<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gpa</title>

    <!-- Loading Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="gpaCtrl">

<div ng-include="'views/navbar.html'"></div>
<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="addData1()">
                <input ng-model="textFields.Field1" type="text" size="20" placeholder="Class Name">
                <input ng-model="textFields.Field2" type="text" size="20" placeholder="Class Letter Grade">
                <input ng-model="textFields.Field3" type="text" size="20" placeholder="Class Credit Amount">
                <input type="submit" value="submit" class="btn btn-primary">
                <span class="floatRight">Items in this list: {{itemsInList()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="info in data1">Class: {{info.class}}, Grade: {{info.grade}}, Credits: {{info.credit}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    </ul>
</div>

</body>
</html>